
@{
    ViewData["Title"] = "Home Page";
}


<div class="text-center">
    <h1 class="display-4">Welcome to AutoAccessoriesPlus.com</h1>
    <h2>Find the best accessories for your vehicle...</h2>
    <br />
    <br />
    <div class="container" align="center">
        <a class=" btn btn-primary btn-lg" asp-area="" asp-controller="Vehicle" asp-action="ListVehicles" style="font-size:24px;color:white!important;">Get Started!</a>
    </div>
</div>
